http://:80 {
    encode gzip

    log {
        output stdout
        format console
    }

    # Use handle_path to strip the prefix
    handle /tasks* {
        reverse_proxy task-service:3009
    }

    handle /mail* {
        reverse_proxy mail-service:3009
    }

    # Catch-all for the root /
    handle {
        reverse_proxy task-service:3009
    }
}