:80 {

    encode gzip

    log {
        output stdout
        format console
    }

    handle /app* {
        reverse_proxy http://task-service:3009
    }

    handle /tasks* {
        reverse_proxy http://task-service:3009
    }

    handle /mail* {
        reverse_proxy http://mail-service:3009
    }

    handle {
        reverse_proxy http://task-service:3009
    }
}
