services:
  postgres:
    image: postgres:15
    container_name: task-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks: # Added this!
      - app-network

  task-service:
    build: 
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    restart: always
    env_file:
      - .env
    depends_on: # Added this!
      - postgres
    networks:
      - app-network

  mail-service:
    build: 
      context: .
      dockerfile: apps/email-consumer/Dockerfile
    restart: always
    env_file:
      - .env
    networks:
      - app-network

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    depends_on:
      - task-service
      - mail-service
    restart: always
    ports: 
      - "80:80"
    volumes: 
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  caddy_data:
  caddy_config: