name: Deploy to EC2
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "DB_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "DB_PASSWORD=${{ secrets.POSTGRES_DB }}" >> .env
          echo "DB_PASSWORD=${{ secrets.POSTGRES_USER }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PORT }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_HOST }}" >> .env
          echo "NODE_ENV=production" >> .env

      - name: Deploy with Docker Compose
        run: |
          docker-compose up -d --build
          docker image prune -f # Clean up old images to save disk space